@model VisitorViewModel
@{
    ViewData["Title"] = "AddVisitor";
    Layout = "~/Views/Shared/_AdminLayaut.cshtml";
}


<h4> Visitor Kaydı</h4>
<form method="post">
    <input type="hidden" asp-for="Id" class="form-control">

    <div class="form-group">
        @Html.Label("Ad")
        <input type="text" asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        @Html.Label("Soyad")
        <input type="text" asp-for="Surname" class="form-control">
    </div>

    <div class="form-group">
        @Html.Label("Şehir")
        <input type="text" asp-for="City" class="form-control">
    </div>
    <div class="form-group">
        @Html.Label("Ülke")
        <input type="text" asp-for="Country" class="form-control">
    </div>
    <div class="form-group">
        @Html.Label("Mail")
        <input type="text" asp-for="Mail" class="form-control">
    </div>

    <button class="btn btn-outline-primary">Güncelle</button>
</form>


